{%  extends 'bootstrap/base.html'  %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
     {% for message  in get_flashed_messages() %}
         <div class="alert alert-success alert-dismissable">
            <button type="button"
                    data-dismiss="alert"
                    class="close">
                    &times;
            </button>
            {{ message }}
         </div>
     {% endfor %}
     <table id="data" class="table table-striped">
        <thead>
            <tr>
                <th>nombre</th>
                <th>precio</th>
                <th>actualizar</th>
            </tr>
        </thead>
        <tbody>
            {% for p in productos %}
                <tr>
                    <td>{{ p.nombre }}</td>
                    <td>{{ p.precio }}</td>
                    <td><a href="/products/edit/{{p.id}}"> Editar</a> </td>
                </tr>
            {% endfor %}
        </tbody>
     </table>
     {% block scripts %}
            {{ super() }}
        {% endblock %}
{% endblock %}